* {
    margin: 0;
    text-align: center;
    font-family:'Times New Roman', Times, serif
}

html, body {
    touch-action: manipulation;
}

body {
    background: linear-gradient(#68d361, #2a5b42);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p {
    font-size: 20pt;
    color: white;
    text-shadow: #2A2A5B 5px 5px 5px;
}

img {
    position: absolute;
}

.boite-boite {
    border: 1px solid black;
    width: 60%;
    height: auto;
    aspect-ratio: 3 / 2;
    position: relative;
    background: linear-gradient(#2a5b42, #2A2A5B);
}

.feux{
    width: 100%;
    height: 100%;
    left: 0;
}

.loupe{
    top: 0%;
    left: 35%;
    width: 30%;
    height: auto;
    z-index: 3;
    transform: rotate(90deg);
}

.gardien {
    bottom: 0;
    left: 32.5%;
    width: 35%;
    height: auto;
    z-index: 2;
}

.panneau{
    bottom: 0;
    width: 35%;
    z-index: 1;
    left: 0;
}
.affiche{
    bottom: 30%;
    width: 25%;
    z-index: 1;
    right: 5%;
    box-shadow: black 5px 5px 5px;
}

.csm{
    top: 0;
    width: 100%;
    z-index: 1;
    right: 0;
    box-shadow: black 5px 5px 5px;

}

.j{
    color: yellow;
}